h1{
    color: navy;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
}

p{
    font-family: 'Arial Black', Gadget, sans-serif;
    line-height: 1.6;
    color: navy;
    font-size: 22px;
}

body{
    background-color:dodgerblue;
    margin: 0;
    padding: 0;
}

h2{
    color: navy;
    font-family: 'Arial Black', Gadget, sans-serif;
}

div#static {
    position: static;
    color: navy;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 2px solid navy;
    width: 150px;
    height: 150px;
    font-size: 17px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

div#relative {
    position: relative;
    top: 20px;
    left: 20px;
    color: navy;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 2px solid navy;
    width: 150px;
    height: 150px;
    top: 20px;
    font-size: 17px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

p#date{
    font-size: 18px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: navy;    
    text-align: right;
}

div#fixed {
    position: fixed;
    bottom: 0;
    width: 100px;
    height: 150px;
    border: 2px solid navy;
    color: navy;
    text-align: center;
    padding: 20px;
    right: 200px;
    top: 100px;
    font-size: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

#h2fixed{
    position: fixed;
    font-size: 22px;
    right: 300px;
    top: 20px;
    font-family: 'Arial Black', Gadget, sans-serif;
    color: navy;
}

div#absolute {
    position: absolute;
    bottom: 0;
    width: 150px;
    height: 150px;
    text-align: center;
    border: 2px solid navy;
    color: navy;
    font-size: 17px;
    font-family: 'Arial Black', Gadget, sans-serif;
}

div#parent {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 20px;
    border: 2px solid navy;
    padding: 10px;
    color: navy;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
}

div#sticky {
    position: sticky;
    top: 0;
    background-color:blue;
    border: 2px solid navy;
    padding: 10px;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: 20px;
    color: navy;
    text-align: center;
}