h1 {
        color: darkslategrey;
        font-style: italic;
        font-size: 15px;
        margin-top: 100px;
        margin-bottom: 100px;
        margin-left: 100px;
        margin-right: 100px;
        padding: 20px 30px 40px 10px;
        margin: 50px;
        border: 2px solid rgb(1, 54, 1);
        background-color: rgb(16, 102, 27);
    }

div {
        color: darkslategrey;
        font-style: italic;
        font-size: 15px;
        margin-top: 100px;
        margin-bottom: 100px;  
        margin-left: 100px;
        margin-right: 100px;
        /*margin: 100px 150px 120px 80px;*/
        /*margin: 25px 50px 75px;*/
        /*margin: 50px;*/ 
        padding: 20px 30px 40px 10px;
        margin: 50px;
        border: 2px solid rgb(1, 54, 1);
        background-color: rgb(16, 102, 27);
}

body {
        background-color: rgb(16, 102, 27);
    }