:root{
    --main-color: deepskyblue;
    --background-color: lightblue;
    --margin: 10px;
}

h1{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color:black;
    color:var(--main-color); 
    margin: var(--margin);
}

#example-one{
    margin: var(--margin);
    background-color:aqua;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#example-two{
    margin: var(--margin);
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 3px solid aqua;
}

#example-three{
    margin: var(--margin);
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background: url(bglines.PNG);
}

#example-four{
    margin: var(--margin);
    width: 150px;
    height: 150px;
    border-radius: 5px 60px;
    background-color: aqua;
}

#example-five{
    margin: var(--margin);
    width: 150px;
    height: 150px;
    border-radius: 10px/30px;
    border: 3px solid aqua;
}

#example-six{
    margin: var(--margin);
    width: 150px;
    height: 150px;
    border-radius: 30px/10px;
    background-color: aqua;
}